* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #252525;
  font-family: 'Raleway', sans-serif;
  font-family: 'Yeseva One', cursive;
  font-size: 18px;
  line-height: 24px;
  overflow-x: hidden;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #252525;
  text-decoration: none;
}

img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  cursor: pointer;
}

.btn-modal {
  width: 100%;
  height: 100%;
  color: #252525;
  background: #EDB362;
  border-radius: 30px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-modal:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #DF9B3B;
}

.section-icon {
  position: absolute;
  right: 3%;
  top: -30px;
  width: 295px;
  max-height: 218px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right top;
  object-position: right top;
}

.container-head {
  margin: 0 auto;
  max-width: 1400px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.container__title {
  padding-top: 80px;
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  color: #252525;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#532A13), color-stop(21.88%, rgba(83, 42, 19, 0.927083)), to(rgba(83, 42, 19, 0)));
  background: linear-gradient(180deg, #532A13 0%, rgba(83, 42, 19, 0.927083) 21.88%, rgba(83, 42, 19, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 74px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1354px;
}

.header__logo {
  height: auto;
  max-width: 175px;
  width: 100%;
  margin-right: 25px;
}

.header__tel-wrapper {
  margin: 0 0 0 auto;
}

.header__tel {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__tel:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #EDB362;
}

.header__number-svg {
  display: none;
}

.header__tel-btn {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: 27px;
  min-width: 186px;
  height: 42px;
  border: 2px solid #ffffff;
  border-radius: 60px;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__tel-btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #EDB362;
  border: 2px solid #EDB362;
}

.header__tel-icon {
  display: none;
}

.header__social-wrapper {
  margin-left: 97px;
}

.header__language-wrapper {
  margin-left: 30px;
}

.header__wrapper-menu {
  margin-left: 100px;
}

.header__btn {
  background: inherit;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 24px;
  height: 14px;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__btn:hover span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #EDB362;
}

.header__btn span {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background: #ffffff;
}

.logo__image {
  min-width: auto;
  width: 160px;
  -o-object-fit: contain;
  object-fit: contain;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social li:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social li:hover path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #EDB362;
}

.social a {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 28px;
  min-height: 28px;
}

.language {
  position: relative;
  padding-right: 25px;
  z-index: 5;
}

.language:hover .language__list {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 1;
  top: 24px;
  z-index: 2;
}

.language:hover .language__head::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.language:hover .language__head::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.language__head {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.language__head::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: '';
  position: absolute;
  right: -20px;
  top: 11px;
  width: 10px;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.language__head::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: '';
  position: absolute;
  right: -26px;
  top: 11px;
  width: 10px;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.language__head-img {
  position: relative;
}

.language__list {
  position: absolute;
  padding: 8px 25px 5px 0;
  top: -500px;
  opacity: 0;
  -webkit-transition: 0.3s opacity, top 0.3s 0.3s;
  transition: 0.3s opacity, top 0.3s 0.3s;
}

.language__list li {
  margin-bottom: 8px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.language__list li:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.language__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
}

.nav-menu ul {
  display: none;
  position: absolute;
  width: 315px;
  min-height: 100%;
  right: 0;
  top: 0;
  background: #F6F3EE;
}

.main-nav {
  position: absolute;
  right: 147px;
  width: auto;
  min-width: 200px;
  z-index: 2;
  top: 49vh;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.main-nav ul {
  min-height: 100%;
}

.main-nav li {
  text-align: right;
  margin-bottom: 2px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.main-nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
  width: 20px;
  -webkit-transition: 0.3s opacity, width 0.3s 0s;
  transition: 0.3s opacity, width 0.3s 0s;
}

.main-nav__link--active .main-nav__dot {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 4px solid #EDB362;
  background: #EDB362;
  margin-right: -2px;
}

.main-nav__link:hover {
  width: 100%;
}

.main-nav__link:hover .main-nav__text {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  left: 0px;
  opacity: 1;
}

.main-nav__link:hover .main-nav__dot {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 4px solid #EDB362;
  background: #EDB362;
  margin-right: -2px;
}

.main-nav__text {
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 30px;
  position: absolute;
  white-space: nowrap;
  -webkit-transition: 0.3s opacity, left 0.3s 0.3s;
  transition: 0.3s opacity, left 0.3s 0.3s;
  opacity: 0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  width: 100%;
  padding-left: 15px;
  position: relative;
  left: 1000px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 15px;
  z-index: -1;
}

.main-nav__text::before {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  right: -4px;
  top: 26%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: -1;
}

.main-nav__dot {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.first-screen {
  position: relative;
}

.first-screen__bg {
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -75px;
  height: calc(100vh + 75px);
}

.first-screen__wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #ffffff;
  max-width: 793px;
}

.first-screen__head {
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 108px;
  line-height: 116px;
  margin: 5px 0 26px;
}

.first-screen__text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.first-screen__arrow {
  position: absolute;
  bottom: 80px;
  left: 49.4%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.first-screen__arrow:hover .first-screen__icon rect {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  stroke: #EDB362;
}

.first-screen__arrow:hover .first-screen__down {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #EDB362;
}

.first-screen__down {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 13px;
}

.first-screen__icon {
  margin: 0 auto;
}

.first-screen__chat {
  position: fixed;
  bottom: 44px;
  right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.first-screen__chat:hover {
  z-index: 10;
}

.first-screen__chat:hover path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #ffffff;
}

.first-screen__chat:hover rect {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #EDB362;
}

.benefits {
  background: #ffffff;
  padding-bottom: 100px;
}

.benefits__nav {
  margin-top: 60px;
}

.benefits__wrapper-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 67px;
}

.benefits__wrapper-cards .article-benefit {
  margin: 0 55px 40px;
}

.benefits__pagination {
  display: none;
}

.benefits__btn-wrapper {
  max-width: 281px;
  height: 48px;
  margin: 40px auto 0;
}

.sub-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sub-nav__link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 2px solid transparent;
  margin-right: 48px;
  padding-bottom: 5px;
  white-space: nowrap;
}

.sub-nav__link--active {
  border-bottom: 2px solid #EDB362;
  font-weight: bold;
}

.article-benefit {
  max-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article-benefit__img {
  width: 154px;
  height: 150px;
  margin: 0 auto;
}

.article-benefit__text {
  max-width: 174px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #686868;
  margin-top: 10px;
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 170px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination__arrow {
  width: 44px;
  height: 44px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 4px 30px rgba(150, 150, 150, 0.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.pagination__prew {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination__prew:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #EDB362;
}

.pagination__prew:hover svg path {
  fill: #ffffff;
}

.pagination__next {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination__next:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #EDB362;
}

.pagination__next:hover svg path {
  fill: #ffffff;
}

.pagination__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination__slash {
  margin: 3px 0px 0;
}

.pagination__text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #252525;
}

.location {
  background: #F6F3EE;
}

.location__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  padding-top: 100px;
}

.location__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 147px;
}

.location__content {
  max-width: 516px;
}

.location__text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 60px;
}

.location__wrapper-img {
  margin: auto -150px -50px auto;
}

.excursion {
  padding-bottom: 66px;
}

.excursion__cards {
  width: 100%;
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.excursion__paginations {
  width: 169px;
  margin: 60px auto 0;
}

.excursion-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 0 30px 0;
  max-width: 555px;
  width: 100%;
  overflow: hidden;
}

.excursion-card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
}

.excursion-card__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.excursion-card__bonuses {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excursion-card__stars {
  margin-top: 14px;
  padding-left: 10px;
}

.excursion-card__icon {
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
}

.excursion-card__icon--percent {
  background: #2AB662;
}

.excursion-card__icon--new {
  background: #812AB6;
  font-size: 16px;
  line-height: 16px;
}

.excursion-card__icon--star {
  background: #DA1F1F;
}

.excursion-card__wrapper-img {
  height: 264px;
}

.excursion-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  -webkit-box-shadow: 0px 4px 30px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 4px 30px rgba(150, 150, 150, 0.25);
}

.excursion-card__content {
  padding: 8px 20px 100px 20px;
}

.excursion-card__options {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #686868;
}

.excursion-card__options span {
  margin-right: 40px;
  white-space: nowrap;
}

.excursion-card__price-underline {
  text-decoration: line-through;
  margin-right: 20px !important;
}

.excursion-card__price-gold {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #EDB362;
}

.excursion-card__head {
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 12px;
}

.excursion-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.excursion-card__buttons {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #252525;
}

.excursion-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 145px;
  height: 38px;
  background: none;
  border: 1px solid #EDB362;
  border-radius: 29px;
  margin-right: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.excursion-card__details:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #EDB362;
  border: 1px solid #EDB362;
}

.excursion-card__tobook {
  min-width: 145px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #EDB362;
  border: 1px solid #EDB362;
  border-radius: 29px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.excursion-card__tobook:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #DF9B3B;
  border: 1px solid #DF9B3B;
}

.excursion-card.horizon {
  max-width: 100%;
}

.excursion-card.horizon .excursion-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.excursion-card.horizon .excursion-card__bonuses {
  left: 20px;
  top: 20px;
}

.excursion-card.horizon .excursion-card__wrapper-img {
  min-width: 50%;
  height: 100%;
}

.excursion-card.horizon .excursion-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 36px 90px 100px 30px;
}

.excursion-card.horizon .excursion-card__head {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin: 0;
}

.excursion-card.horizon .excursion-card__options {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-top: 20px;
}

.excursion-card.horizon .excursion-card__text {
  margin-top: 20px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.excursion-card.horizon .excursion-card__buttons {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.excursion-card.house {
  max-width: 31%;
}

.excursion-card.house .excursion-card__cards {
  margin-top: 14px;
}

.excursion-card.house .excursion-card__wrapper-img {
  height: 300px;
}

.excursion-card.house .excursion-card__text {
  margin-top: 20px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.excursion-card.house .excursion-card__text {
  margin-top: 14px;
}

.tours {
  position: relative;
  background: #F6F3EE;
  padding-bottom: 100px;
}

.tours__nav {
  margin-top: 60px;
}

.tours__cards {
  width: 100%;
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tours__paginations {
  width: 169px;
  margin: 60px auto 0;
}

.activity {
  position: relative;
  background: #ffffff;
  padding-bottom: 80px;
}

.activity__cards {
  width: 100%;
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.activity__paginations {
  width: 169px;
  margin: 60px auto 0;
}

.events {
  background: #ffffff;
}

.events__btn-bottom {
  margin: 80px auto 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 325px;
  height: 48px;
  background: #EDB362;
  border: 1px solid #EDB362;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.events__btn-bottom:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #DF9B3B;
  border: 1px solid #DF9B3B;
}

.benefits.safety {
  background: #F6F3EE;
}

@media (min-width: 576px) {
  html {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 1400px) {
  .container-head {
    max-width: 1200px;
  }

  .container {
    max-width: 1200px;
  }

  .header__wrapper {
    max-width: 1150px;
  }

  .location__wrapper-img {
    margin: auto 0 -50px auto;
  }
}

@media (max-width: 1200px) {
  .container-head {
    max-width: 992px;
  }

  .container {
    max-width: 992px;
  }

  .header__wrapper {
    max-width: 942px;
  }

  .header__social-wrapper {
    margin-left: 30px;
  }

  .header__wrapper-menu {
    margin-left: 30px;
  }

  .benefits__wrapper-cards .article-benefit {
    margin: 0 37px 40px;
  }

  .location__content {
    max-width: 416px;
  }

  .excursion-card {
    max-width: 485px;
  }

  .excursion-card.house {
    max-width: 48%;
  }
}

@media (max-width: 992px) {
  .container-head {
    max-width: 768px;
  }

  .container {
    max-width: 768px;
  }

  .header__wrapper {
    max-width: 718px;
  }

  .header__number {
    display: none;
  }

  .header__number-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header__number-svg:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header__number-svg:hover path {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    fill: #EDB362;
  }

  .header__tel-btn {
    min-width: auto;
    margin: 0 28px;
    border: none;
  }

  .header__tel-btn:hover {
    border: none;
  }

  .header__tel-btn:hover path {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    fill: #EDB362;
  }

  .header__tel-text {
    display: none;
  }

  .header__tel-icon {
    display: block;
  }

  .header__social-wrapper {
    margin-left: 10px;
  }

  .header__wrapper-menu {
    margin-left: 20px;
  }

  .social a {
    padding: 2px;
  }

  .first-screen__head {
    font-size: 48px;
    line-height: 56px;
  }

  .first-screen__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
  }

  .benefits__wrapper-cards .article-benefit {
    margin: 0 41px 40px;
  }

  .location__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .location__content {
    max-width: 100%;
  }

  .location__wrapper-img {
    margin: 60px 0 0 0;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .excursion-card {
    max-width: 365px;
  }
}

@media (max-width: 768px) {
  .section-icon {
    width: 120px;
  }

  .container-head {
    max-width: 100%;
  }

  .container {
    max-width: 576px;
  }

  .container__title {
    font-size: 36px;
    line-height: 44px;
  }

  .header__wrapper {
    max-width: 526px;
    min-height: 88px;
  }

  .header__social-wrapper {
    display: none;
  }

  .header__language-wrapper {
    display: none;
  }

  .header__wrapper-menu {
    margin: 0;
  }

  .first-screen__wrapper {
    padding: 0 5%;
    top: 53%;
  }

  .first-screen__head {
    margin: 16px 0 23px;
    font-size: 32px;
    line-height: 38px;
  }

  .first-screen__text {
    font-size: 14px;
    line-height: 18px;
  }

  .benefits__wrapper-cards .article-benefit {
    margin: 0 9px 35px;
    max-width: 281px;
  }

  .benefits__btn-wrapper {
    max-width: 343px;
  }

  .article-benefit__img {
    width: 132px;
    height: 130px;
  }

  .location__title {
    font-size: 36px;
    line-height: 44px;
  }

  .excursion__cards {
    margin-top: 64px;
  }

  .excursion-card {
    max-width: 100%;
  }

  .excursion-card__wrapper-img {
    height: 212px;
  }

  .excursion-card.horizon .excursion-card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .excursion-card.horizon .excursion-card__bonuses {
    left: auto;
    right: 20px;
  }

  .excursion-card.horizon .excursion-card__wrapper-img {
    height: 220px;
  }

  .excursion-card.house {
    max-width: 100%;
  }

  .excursion-card.house .excursion-card__wrapper-img {
    height: 220px;
  }

  .tours__cards {
    margin-top: 64px;
  }

  .activity__cards {
    margin-top: 64px;
  }
}

@media (max-width: 576px) {
  .container-head {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
    padding: 0 16px;
  }

  .container__title {
    font-size: 28px;
    line-height: 34px;
  }

  .header__wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 5%;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__tel-btn {
    margin: 0 10px;
  }

  .main-nav {
    display: none;
  }

  .first-screen__arrow {
    display: none;
  }

  .first-screen__chat {
    bottom: 0px;
    right: 0px;
  }

  .benefits__wrapper-cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .benefits__wrapper-cards .article-benefit {
    max-width: 40%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .benefits__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 26px auto 60px;
  }

  .excursion-card__buttons {
    width: calc(100% - 20px);
  }

  .excursion-card__details {
    margin-right: 0;
    min-width: 0;
    width: 50%;
    max-width: 145px;
  }

  .excursion-card__tobook {
    margin-left: auto;
    min-width: 0;
    width: 50%;
    max-width: 145px;
  }

  .excursion-card.horizon .excursion-card__content {
    padding: 8px 10px 100px;
  }

  .excursion-card.house .excursion-card__content {
    padding: 8px 10px 100px;
  }
}